.cart {
    background-color: #000000b5;
    width: 375px;
    position: fixed;
    z-index: 1000;
    display: flex;
    justify-content: center;
    height:180%;
    

    .bubble {
        width: 90%;
        background-color: #fff;
        border-radius: 5px;
        padding: 20px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        position: relative;
        display: flex;
        flex-direction: column;
        margin-top: 53rem;
        align-items: center;
        justify-content: center;
        margin-bottom: 1.5rem;
       
        

        h3 {
            margin-bottom: 1rem;
            text-align: center;
        }

        .cartItem {
            margin-bottom: 15rem;
            width: 300px;
            // background-color: aqua;
            .quantityHolders {
                background-color: rgb(255, 255, 255);
                margin-bottom: 1rem;
                margin-top: 8rem;
            }
            .quantityNr {
                background-color: brown;
            }
        }

        .hGroup {
            margin: 1rem 0;
        }

        .totalLine {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            padding-bottom: .5rem;
        }
    }
    .bubble::before {
        content: "";
        position: absolute;
        top: -20px; /* Justera positionen av "pilen" */
        right: 20px; /* Justera positionen av "pilen" */
        border-width: 20px 20px 20px 20px; /* Ändra riktningen på "pilen" */
        border-style: solid;
        border-color: transparent #fff transparent transparent;
    }
}