.appContainer {
  background-image: url('./img/landing.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh; 
  width: 375px;
  margin: 0 auto;
  text-align: center;
}
