.appContainer {
  background-image: url('./img/landing.svg');
  background-position: center;
  background-size: cover; /* Skalar bilden för att täcka hela containern */
  background-repeat: no-repeat; /* Förhindra att bilden upprepas */
  height: 100vh; /* Viktigt: Använd vh-enheter för att täcka hela viewportens höjd */
}