.menuContainer {
    background-color: #F3E4E1;
    display: flex;
    flex-direction: column;
    width: 140%;
    
    
    header {
        background-image: url('../../img/header.svg');
        background-size: cover;
        background-repeat: no-repeat;
        height: 124px;
    }
    
    .menuList {
        padding: 1rem;
        list-style: none;
        
        li {
            margin-bottom: 1.2rem;
            display: grid;
            grid-template-columns: 10% 65% 25%;
            grid-template-rows: auto auto; /* Låter höjden justeras automatiskt */
            grid-template-areas: 
                "a b c" 
                "a d c"; /* Prisets ruta sträcker sig även i nästa rad */
            gap: 0.25rem 1rem;
            overflow: visible; /* Säkerställer att ingen text klipps av */

            .addButton {
                grid-area: a;
            }

            .coffeeName {
                grid-area: b;
                white-space: nowrap; /* Förhindra radbrytning */
                overflow: visible; /* Tillåt text att synas helt */
                text-overflow: clip; /* Ingen "..." (ellipsis) */
                max-width: 100%;
                line-height: 1.2; /* Ökar utrymme för bokstäver med svansar som "g" och "p" */
            }

            .coffeePrice {
                grid-area: c;
                white-space: nowrap;
                text-align: right;
                align-self: center;
                padding-right: 5rem; /* Extra utrymme till höger */
                max-width: 100%; /* Hindrar att priset går utanför menyn */
            
            }

            p {
                grid-area: d;
                margin-top: 0.3rem; /* Ger mer utrymme mellan namnet och beskrivningen */
                line-height: 1.3; /* Ökar avståndet mellan rader */
            }
        }
    }

    .menuList li button {
        display: flex; /* För att centrera ikonen */
        align-items: center; /* För att centrera ikonen vertikalt */
        justify-content: center; /* För att centrera ikonen horisontellt */
        border-radius: 50%;
        padding: 3px;
        background-color: rgb(31, 31, 31);;
        color: #ffffff;
    }
    
    .menuList li button svg {
        width: 20px; /* Justera storleken på ikonen */
        height: 20px; /* Justera storleken på ikonen */
    }

    footer {
        background-image: url('../../img/footer.svg');
        background-size: cover;
        background-repeat: no-repeat;
        height: 70px;
        margin-top: 3rem;
    }
}